<section class="span4">
  <h1>
    Join us!<br>
    We have <del>cookies</del> Luganega!
  </h1>
  <div class="row-fluid">
    <div class="span6">
      <a class="text-center" href="https://www.facebook.com/groups/trenta3dev/">
        <i class="big-icon icon-facebook"></i>
        <br>
        Gruppo Facebook
      </a>
    </div>

    <div class="span6">
      <a class="text-center" href="http://www.freelists.org/list/trenta3dev">
        <i class="big-icon icon-envelope-alt"></i>
        <br>
        trenta3dev@freelists.org
      </a>
    </div>
  </div>

  <h3>We're also on</h3>
  <a href="http://github.com/trenta3dev"><i class="big-icon icon-github"></i></a>
  <a href="http://twitter.com/trenta3dev"><i class="big-icon icon-twitter"></i></a>
</section>
