<section>
  <h1>
    Join us!<br>
    We have <del>cookies</del> Luganega!
  </h1>
  <p>
    <a href="https://www.facebook.com/groups/trenta3dev/">
      <i class="big-icon icon-facebook"></i>
      Gruppo Facebook
    </a>
    <br>

    <a href="http://www.freelists.org/list/trenta3dev">
      <i class="big-icon icon-envelope-alt"></i>
      trenta3dev@freelists.org
    </a>
  </p>

  <h3>We're also on</h3>
  <a href="http://github.com/trenta3dev"><i class="big-icon icon-github"></i></a>
  <a href="http://twitter.com/trenta3dev"><i class="big-icon icon-twitter"></i></a>
</section>
