@import "compass";

@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins";

// Grid system and page structure
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/layouts";

@import "bootstrap-responsive";

@import "base";

a.underline:hover {
  text-decoration: underline !important;
}

.bottom {
  h1 {
    text-align: center;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
  }
  .joinus p {
    text-align: center;
  }
}