---
layout: default
---

<div id="timeline-embed"></div>

<script>
    var timeline_config = {
        width:"99.9%",
        height:"700",
        start_at_end:true,
        start_zoom_adjust: '0',
        source:'/data/timeline_data.json',
        css:'/stylesheets/timeline.css',
        js:'/javascripts/timeline-min.js'
    }
</script>

<script type="text/javascript" src="/javascripts/storyjs-embed.js"></script>

<aside class="bottom">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>

<div class="clearfix"></div>
